.brand-famous__img {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.brand-famous__label {
  margin-bottom: 24px;
  font-size: 1.4rem;
  text-align: center;
}
