

.category {
    position: absolute;
    top: 100%;
    left: 0;
    width: 18.4%;
    background-color: var(--white-color);
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    z-index: 0;
}

.category__list {
    padding-left: 0;
    list-style: none;
    margin: 0;
    position: relative;
}

.category__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category__item:nth-child(1) {
    border-top: none;
}

.category-item__link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 100%;
    display: block;
    padding: 12px 16px;
    flex: 1;
}

.category__item:hover {
    background-color: var(--primary-color-3);
    color: var(--white-color);
    border-color: var(--primary-color-3);
    margin-left: -1px;
}

.category__item:hover .category__icon {
    color: var(--white-color);
}

.category__item:hover .category-item__link {
    color: var(--white-color);
    font-weight: 600;
}

.category__item:hover .submenu {
    display: block;
}

.category__item:hover .modal__overlay {
    display: block;
}

.category__icon {
    font-size: 1.2rem;
    margin: 0 8px 0 0;
    color: var(--black-color);
}
