.header__nav {
    background-color: var(--primary-color-2);
}

.header__nav-wrap {
    display: flex;
}

.header__nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff700cf;
    font-size: 1.3rem;
    width: 220px;
    color: var(--black-color);
    position: relative;
    
    &:hover {
        .category-bottom {
            display: block;
        }
    }

    .header__nav-menu-dropdown {
        display: flex;
        align-items: center;
    }

    .hamburger {
        padding: 0 8px;
        font-size: 1rem;
    }

    span {
        padding: 0 8px;
        font-weight: 500;
    }
}

.header__nav-menu span {
    line-height: 100%;
}

.icon {
    transform: scale(1.6);
}

.header__nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.header__nav-list-item {
    height: 100%;
}

.header__nav-list-item-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 100%;
    color: var(--primary-color);
    display: block;
    padding: 16px 16px;
}

.header__nav-list-item-link:hover {
    background-color: #fff700cf;
}

@media (max-width: 1023px) {
    .header__nav {
        display: none;
    }
}