.header-with-search {
  background-color: var(--white-color);
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 6px 15px rgb(0 0 0 / 10%);
    z-index: 11;
  }
}

.header-with-search-inner {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
}

.fixed-category {
  margin-right: 20px;
  padding: 8px 6px;
  width: 220px;
  background-color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  .category-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: 99;
    display: none;
  }

  &:hover .category-dropdown {
    display: block;
  }

  .fixed-category-box {
    display: flex;
    justify-content: center;
  }

  .hamburger {
    padding: 0 4px;
    font-size: 1.6rem;
  }

  .title {
    font-weight: 500;
    white-space: nowrap;
  }
}

.header-search {
  height: 40px;
  display: flex;
  position: relative;
  flex: 1.5;
}

.header__search-select {
  display: flex;
  align-items: center;
  background-color: var(--primary-color-2);
  color: var(--black-color);
  border: none;
  height: 100%;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.4rem;
  white-space: nowrap;
  cursor: pointer;
}

.header__search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-2);
  border: none;
  padding: 0 24px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;

  .search-icon {
    transform: scale(1.4);
  }
}

.header__search-select-icon {
  position: relative;
  top: -2px;
  font-size: 1.6rem;
  margin-left: 6px;
}

.header__right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.header__right-item {
  padding: 0 16px;
  background-color: var(--primary-color-2);
  height: 40px;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;

  + .header__right-item {
    margin-left: 20px;
  }

  &.header__right-item--cart {
    display: flex;
    align-items: center;
  }

  &.header__right-item--account {
    display: flex;
  }
}

.header__right-item span {
  font-size: 1.2rem;
  color: var(--black-color);
  padding: 4px 0 2px 0;
  display: block;
}

.header-right-item__store {
  margin: 0;
  color: var(--black-color);
  margin: 2px 0;
  font-size: 1.4rem;
}

.header__right-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 0;
  display: block;
  margin: 20px auto;
  color: var(--black-color);
}

.header__right-item-cart-icon {
  color: var(--primary-color);
  font-size: 1.6rem;
  margin: 12px auto;
}

.header__right-item__cart {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 8px;
}

@media (max-width: 990px) {
  .header-search {
    flex: 8;
  }
  .header__right {
    justify-content: flex-start;
  }
  .header__right-item:first-child {
    display: none;
  }
  .header__right-item:nth-child(2) {
    display: none;
  }
  .header__right-item:last-child {
    margin-left: 0;
  }
  .header__search-btn {
    width: 43px;
    height: 40px;
  }
  .header-with-search-inner {
    padding: 10px 25px 10px 10px;
  }
}

@media (max-width: 1239px) {
  .header__right-item:first-child {
    display: none;
  }
  .header__right-item:nth-child(2) {
    margin-left: 0;
  }
}
